:root{
    --timeline-TopBottomShadowSize: 100px;
    --bg-color: black;
    --line-color: white;
    --text-color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: var(--bg-color);
}
main{
    min-width: 30em;
}
header h1{
    text-align: center;
}
.timeline-container{
    z-index: 2;
    box-shadow: inset 0px calc(-2*(var(--timeline-TopBottomShadowSize))) var(--timeline-TopBottomShadowSize) calc(-1*(var(--timeline-TopBottomShadowSize))) var(--bg-color),
                inset 0px calc(2*(var(--timeline-TopBottomShadowSize))) var(--timeline-TopBottomShadowSize) calc(-1*(var(--timeline-TopBottomShadowSize))) var(--bg-color);
    display: flex;
    #timeline-line{
        width: 20px;
        border-left: solid var(--line-color) 1px;
        z-index: -1;
    }
}
.timeline-content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--timeline-TopBottomShadowSize) 0em;
    gap: 10em;

    .timeline-year{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2em;

        h2{
            font-size: 3rem;
            position: absolute;
            transform: translateX(-150%);
        }
        .timeline-month{ 
            width: 100%;
            display: flex;
            gap: 1em;
            align-items: center;

            h3{
                font-size: 1.2em;
                height: 100%;
                width: 10rem;
                display: flex;
                align-items: center;
            }
            .timeline-entry-container{
                width: 100%;
                border-left: solid var(--line-color) 1px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 1em;
                padding: 2em;

                .timeline-entry{
                    width: 100%;
                    border-top: solid var(--line-color) 1px;
                    border-bottom: solid var(--line-color) 1px;
                    border-radius: 15px;
                    padding: 1em;

                    img{
                        height: 200px;
                    }
                }
            } 
        }
    }
}