*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    color: #dcdcdc;

    font-family: "Doto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;

    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
h2{
    font-size: 50px;
    font-weight: 700;
}

body {
    background-color: #080808;
}
.grain {
    position: fixed;
    object-fit: contain;
    z-index: -20;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    background-position: center center;
    top: -30rem;
    left: -30rem;
    opacity: 0.2;
    pointer-events: none;
    animation: noise 10ms infinite;
    width: calc(100vw + 60rem);
    height: calc(100vh + 60rem);
}

/* Noise Animation ( Flickers between translations ) */
@keyframes noise {
    0%  { transform: translate3d(0,9rem,0) }
    10% { transform: translate3d(-1rem,-4rem,0) }
    20% { transform: translate3d(-8rem,2rem,0) }
    30% { transform: translate3d(9rem,-9rem,0) }
    40% { transform: translate3d(-2rem,7rem,0) }
    50% { transform: translate3d(-9rem,-4rem,0) }
    60% { transform: translate3d(2rem,6rem,0) }
    70% { transform: translate3d(7rem,-8rem,0) }
    80% { transform: translate3d(-9rem,1rem,0) }
    90% { transform: translate3d(6rem,-5rem,0) }
    to  { transform: translate3d(-7rem,0,0) }
}

.page-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 60rem;
    height: 60rem;

    padding-top: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 15rem;
}
.page-container > div{
    width: 100%;
}


/* About Me ( mit bild und text ) */
.about-me{
    top: 200px;
    height: 650px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 4rem;
}

/*Den About me bereich in zwei hälften aufteilen (image links und text rechts)*/
.about-me_image-container{
    position: relative;
    width: 50%;

    display: flex;
    justify-content: center;
}

/*About me image*/
.about-me_image-container img{
    border-radius: 30px;
}
/* Bloom Effekt für About Me Image*/
.about-me_image-container::before {
    content: "none";
    position: absolute;
    inset: 0;
    background: url('/Images/aboutme.png') no-repeat center/contain;
    filter: blur(50px) brightness(0.7) saturate(2);
    opacity: 0.4;
    z-index: -1;
}

.about-me_text-container{
    position: relative;

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 4rem;
}

/*About me header*/
.about-me_header{
    position: relative;
}
.about-me_header h2{
    text-align: center;
    width: 100%;
}

/*About me main text*/
.about-me_text{
    flex-grow: 1;
}
.about-me_text p{
    font-weight: 500;
}


a{
    background: radial-gradient(circle, #579bb3 40%, #54bddd 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    text-shadow: 1px 1px 30px rgb(0, 187, 255);
}

/* Disabled for debugging */
footer{
    display: none;

    height: 300px;
    width: 100vw;
    position: absolute;
    bottom: 0px;
}
footer .footer_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 500px;
    padding: 20px;
}
footer .footer_text p{
    text-align: center;
}
footer .footer_text p span{
    font-weight: 200;
}

/* On screens narrower than 1500px use these statements: */
@media screen and (max-width: 1500px) {
    .about-me{
        flex-direction: column;
        height: 2000px;
        width: 100vw;
    }

    .about-me_text p{
        font-size: 50px;
    }
    .about-me_text- a{
        font-size: 50px;
    }
    .about-me_text-container{
        padding: 5rem;
    }
    .about-me_text p{
        text-align: center;
    }
}